* { margin: 0; padding: 0; }
html {
  background-color: #610B0B;
}
body {
  display: flex;
  flex-direction: column;
}
.cabecera, .pie {
  margin-top: 30px;
  height: 4em;
    background-color: #610B0B;
}
.pie a:before, .pie a:after{
  content: ' ';
  margin: 1px;
}
.pie .parrafo{
  margin-bottom: 0.1em;
}
.App {
    flex-grow: 1;
    text-align: center;
    background-color: #610B0B;
    color: white;
}
.SearchForm-wrapper {
  display: flex;
  justify-content: center;
}
.TitleForm {
  font-family: 'Arial';
  font-size: 24px;
  display: block;
  margin: 20px;
}
.MoviesList, .MovieDetail {
  display: flex;
  flex-wrap: wrap;
  justify-content:  space-around;
  font-family: 'Arial';
  color: #F2F2F2;
  width: 75%;
  margin: 50px auto;
  padding: 20px;
  background-color:#0A2A29;
  -moz-box-shadow: 0 0 10px black;
  -webkit-box-shadow: 0 0 10px black;
  box-shadow: 0 0 20px black;
}
.MoviesList-item, .ImgDetail  {
  margin: 10px;
  padding: 10px;
  width: 250px;
  background-color: #fff;
  color: #000;
  -moz-box-shadow: 0 0 20px black;
  -webkit-box-shadow: 0 0 20px black;
  box-shadow: 0 0 20px black;
}
.ImgDetail {
    width: 320px;
}
.Movie-Item {
    display: flex;
  	flex-direction: column;
  	flex-wrap: nowrap;
  	justify-content: space-between;
  	align-items: center;
  	align-content: stretch;
}
.poster-home {
  max-width: 230px;

}
.image-home {
  max-width: 43%;
  text-align: center;
}
.poster-home:hover {filter: opacity(.6);}
.poster-detail {
 max-width: 300px;
}
#description li {
  margin-top: 7px;
  color: #A4A4A4
}
#description li.titleDetail {
  margin-top: 12px;
  font-weight: bold;
  font-size: 1.7em;
}
#description span.icon {
  font-size: 20px;
  display: inline-block;
  width: 32px;
  color:  #e0891d;
}
#description strong {
  font-size: 24px;
  color:  #e0891d;
  font-weight: bold;
}
#description {
  margin-bottom: 50px;
}
a {
  color: #e0891d;
  text-decoration: none;
}
a:hover {
  color: #CC9900;
}
.button.is-info {
    background-color: #e0891d;
    border-color: transparent;
    color: #fff;
}
.button.is-info:hover {
  background-color: #CC9900;
}
.tag:not(body).is-warning {
  margin-left: 5px;
  font-weight: bold;
    background-color: #e0891d;
    color: rgba(0, 0, 0, 0.7);
}
.NoFound{
  font-size: 1.5em;
  color: #FFF;
  margin-top: 30px;
}
.NoFound img{
  width: 150px;
  margin: 40px 40px;
}
@media screen and (max-width:640px) {
  .MoviesList, .MovieDetail {
      width: 100%;
      margin: 10px auto;
      padding: 20px;
      box-shadow: 0 0 10px black;
  }
}
@media screen and (max-width:1024px) and (min-width:640px) {
  .MoviesList, .MovieDetail {
      width: 90%;
      margin: 20px auto;
      padding: 15px;
      box-shadow: 0 0 15px black;
  }
}
@media screen and (min-width:1024px) {
  /* reglas CSS */
}
